page-home {
.div-wrapper{
  background-color:white;
  opacity:0.7;
}
.skiploginbtn {
color: blue;
  background-color:red;
}
.app-logo{
  margin:0 auto;
  display: block;
}
.template{
  background-color:#cdeb8e;
}
}

